.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  opacity: 1;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}