.resources__logo-zone {
  max-width: 1100px;
  margin: 80px auto 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.resources__logo:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.resources__logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 270px;
  min-height: 38px;
  opacity: 1;
}