.khan__buy_link {
    margin-left: 48px;
    padding-top: 68px;
    text-decoration: none;
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    opacity: 1;
  }
  
  .khan__buy_link:hover {
    opacity: 0.5;
    transition: 0.5s;
  }