.khan__buy-link {
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  opacity: 1;
  align-self: start;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}